/*
   FLEX ALIGN SELF
*/
.as-a { -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }
.as-fs { -ms-flex-item-align: start; align-self: flex-start; }
.as-fe { -ms-flex-item-align: end; align-self: flex-end; }
.as-c { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }
.as-b { -ms-flex-item-align: baseline; align-self: baseline; }
.as-s { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }
.as-i { -ms-flex-item-align: inherit; -ms-grid-row-align: inherit; align-self: inherit; }
@media screen and (min-width: 48em) {
 .as-a-ns { -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }
 .as-fs-ns { -ms-flex-item-align: start; align-self: flex-start; }
 .as-fe-ns { -ms-flex-item-align: end; align-self: flex-end; }
 .as-c-ns { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }
 .as-b-ns { -ms-flex-item-align: baseline; align-self: baseline; }
 .as-s-ns { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }
 .as-i-ns { -ms-flex-item-align: inherit; -ms-grid-row-align: inherit; align-self: inherit; }
}
@media screen and (min-width:48em) and (max-width: 64em) {
 .as-a-m { -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }
 .as-fs-m { -ms-flex-item-align: start; align-self: flex-start; }
 .as-fe-m { -ms-flex-item-align: end; align-self: flex-end; }
 .as-c-m { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }
 .as-b-m { -ms-flex-item-align: baseline; align-self: baseline; }
 .as-s-m { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }
 .as-i-m { -ms-flex-item-align: inherit; -ms-grid-row-align: inherit; align-self: inherit; }
}
@media screen and (min-width: 64em) {
 .as-a-l { -ms-flex-item-align: auto; -ms-grid-row-align: auto; align-self: auto; }
 .as-fs-l { -ms-flex-item-align: start; align-self: flex-start; }
 .as-fe-l { -ms-flex-item-align: end; align-self: flex-end; }
 .as-c-l { -ms-flex-item-align: center; -ms-grid-row-align: center; align-self: center; }
 .as-b-l { -ms-flex-item-align: baseline; align-self: baseline; }
 .as-s-l { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }
 .as-i-l { -ms-flex-item-align: inherit; -ms-grid-row-align: inherit; align-self: inherit; }
}

